<%- include("partials/header", {username: username}); -%>
    <h1>Edit Status</h1>
    <br>
    <style media="screen">
      h1 {
        color: #555;
      }

      h3 {
        color: #a5716f;
      }
    </style>
    <form class="" action="/status/<%=parking._id%>" method="post">

      <div class="form-group">
        <h1>edit <%=title%>  </h1>
        <%if (message.length > 0){ %>
        <div class="alert alert-success" role="alert">
           <h4><%= message %></h4>
        </div>
        <%}%>
        <br><br>

        <label>Status</label>
        <select class="form-control" type="text" name="status" placeholder="Enter status">
          <option value="Available"> Available </option>
          <option value="Unavailable"> Unavailable</option>
        </select>

        <table>
          <tr>
            <td>
              <h2>Vehicle type  </h2>
              <h3><%=parking.vehicle%></h3>
            </td>
            <td>
              <h2>Parking's Description  </h2>
              <h3><%=parking.description%></h3>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Parking's Adress </h2>
              <h3><%=parking.address%></h3>
            </td>
            <td>
              <h2>Parking's Type </h2>
              <h3><%=parking.type%></h3>
            </td>
          </tr>
          <tr>
            <td>
              <h2> Parking's Price </h2>
              <h3><%=parking.price%>₪ per Hour</h3>
      
            </td>
          </tr>
        </table>
    

    

      </div>
      <button  class="publish btn btn-lg btn-danger hover-top btn-glow" name="button">Edit</button>
    </form>


<%- include("partials/footer"); -%>
