<%- include("partials/header", {username: username}); -%>

<style media="screen">
  h1 {
    color: #555;
  }

  h3 {
    color: #a5716f;
  }
</style>

<h1>Title : </h1>
<h3><%=title%></h3>
</p>
<h1>Vehicle type : </h1>
<h3><%=vehicle%></h3>
</p>
<h1>Parking's Description : </h1>
<h3><%=description%></h3>
</p>
<h1>Parking's Adress :</h1>
<h3><%=address%></h3>
</p>
<h1>Parking's Type :</h1>
<h3><%=type%></h3>
</p>
<h1>Parking's Status :</h1>
<h3><%=status%></h3>
</p>
<h1> Parking's Price :</h1>
<h3><%=price%>₪ per Hour</h3>



<%- include("partials/footer"); -%>
