<%- include("partials/customerHeader"); -%>
<link rel="stylesheet" href="/css/custyle.css">
<table>
  <tr>
    <form class="" action="/available" method="post">
      <button class="button4 button" type="submit" name="available"><span>Available</span></button>
    </form>
  </tr>

  <tr>
    <form class="" action="/unavailable" method="post">
      <button class="button4 button" type="submit" name="unavailable">Unavailable</button>
    </form>
  </tr>

  <tr>
    <form class="" action="/regular" method="post">
      <button class="button4 button" type="submit" name="regular">Regular</button>
    </form>
  </tr>

  <tr>
    <form class="" action="/disabled" method="post">
      <button class="button4 button" type="submit" name="disabled">Disabled</button>
    </form>
  </tr>
</table>





<form class="" action="/sort" method="post">
  <% result.forEach(function(r) {%>
  <div class="box red">
    <h2 name ="status"><%=r.status%></h2>
    <h3 name ="title"><%= r.title%></h3>
    <h4 name ="description"> <%= r.description%></h4><br>
    <h4 name ="address"> <%= r.address%></h4><br>
    <h4 name ="type"> <%= r.type%></h4><br>
    <h4 name ="price"> <%= r.price%>₪ per Hour</h4>
  <!-- <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt=""> -->
    <button class="next round nextbutton" type="submit" name="add">Add to cart</button>
  </div>
  <%})%>


</form>







<%- include("partials/footer"); -%>
