<%- include("partials/customerHeader"); -%>
<link rel="stylesheet" href="/css/custyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
<table>
  <tr>
    <form class="" action="/available" method="post">
      <button class="button4 button" type="submit" name="available"><span>Available</span></button>
    </form>
  </tr>

  <tr>
    <form class="" action="/unavailable" method="post">
      <button class="button4 button" type="submit" name="unavailable">Unavailable</button>
    </form>
  </tr>

  <tr>
    <form class="" action="/regular" method="post">
      <button class="button4 button" type="submit" name="regular">Regular</button>
    </form>
  </tr>

  <tr>
    <form class="" action="/disabled" method="post">
      <button class="button4 button" type="submit" name="disabled">Disabled</button>
    </form>
  </tr>
</table>





<form class="" action="/sort" method="post">

</form>
  <% result.forEach(function(r) {%>
  <div class="box red">
    <table>
      <tr>
        <td>
            <h2 name ="status"><%=r.status%>&nbsp </h2>
        </td>
        <td>
          <h2 name ="vehicle"><%=r.vehicle%></h2>
        </td>
      </tr>
    </table>
    <h3 name ="title"> <%= r.title%></h3>
    <h4 name ="description"> <%= r.description%></h4><br>
    <h4 name ="address"> <i class="fa-solid fa-location-dot"></i><%= r.address%></h4><br>
    <h4 name ="type"> <%= r.type%></h4><br>
    <h4 name ="price"> <%= r.price%>₪ per Hour</h4>
  <!-- <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt=""> -->
   <a href="/cart/<%=r._id%>" class="next round nextbutton" name="add">Buy NOW</a>



  </div>
  <%})%>









<%- include("partials/footer"); -%>
